# see https://github.com/karlicoss/pymplate for up-to-date reference

name: CI
on:
  push:
    branches: '*'
    tags: 'v[0-9]+.*' # only trigger on 'release' tags for PyPi
    # Ideally I would put this in the pypi job... but github syntax doesn't allow for regexes there :shrug:
    # P.S. fuck made up yaml DSLs.
  pull_request: # needed to trigger on others' PRs
  # Note that people who fork it need to go to "Actions" tab on their fork and click "I understand my workflows, go ahead and enable them".
  workflow_dispatch: # needed to trigger workflows manually
  # todo cron?

env:
  # useful for scripts & sometimes tests to know
  CI: true

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest] # TODO windows-latest??
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']
        # seems like 3.6 isn't available on their osx image anymore
        exclude: [{platform: macos-latest, python-version: '3.6'}]

    runs-on: ${{ matrix.platform }}

    steps:
    # ugh https://github.com/actions/toolkit/blob/main/docs/commands.md#path-manipulation
    - run: echo "$HOME/.local/bin" >> $GITHUB_PATH

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v2
      with:
        submodules: recursive

    # uncomment for SSH debugging
    # - uses: mxschmitt/action-tmate@v3

    - run: .ci/run

    - uses: actions/upload-artifact@v2
      with:
        name: .coverage.mypy_${{ matrix.platform }}_${{ matrix.python-version }}
        path: .coverage.mypy/

